<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Добрая машина правды</p>
      <p class="links">
        
        <a href="#">Блог</a>
        <a href="#">Поддержать</a>
        <a href="#">О проекте</a>
        <a href="#">Faq</a>
        <a href="#">Контакты</a>
      </p>
      <p class="copywrite">Copywrite not copypwrite © 2015</p>
    </div>
  </div>
</footer>